body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #195190;
  /* background-color: #124142; */
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: #a2a2a1;
  font-size: 18px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* #195190 */

.link-inner {
  width: 100px;
  display: flex;
  margin: 10px;
  justify-content: space-around;
}

/* #A2A2A1 */
a {
  color: #a2a2a1;
  text-decoration-line: none;
}

input,
select {
  padding: 0 10px 0 10px;
  color: #195190;
  border: none;
  outline: none;
  background-color: #a2a2a1;
}

input[type="submit"] {
  color: #195190;
  font-size: 0.9rem;
  background-color: #a2a2a1;
}

input::placeholder {
  color: #195190;
  font-size: 0.9rem;
}

button {
  color: #195190;
  background-color: #a2a2a1;
  border-radius: 5px;
  border: none;
  width: 70px;
  height: 40px;
  cursor: pointer;
}

button:focus {
  width: 66px;
  height: 36px;
  margin: 2px;
}
