body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #195190;
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: #a2a2a1;
  font-size: 18px;
}
/* #195190 */

/* #A2A2A1 */
a {
  color: #a2a2a1;
  text-decoration-line: none;
}

input,
select {
  padding: 0 10px 0 10px;
  color: #195190;
  border: none;
  outline: none;
  background-color: #a2a2a1;
}

input[type="submit"] {
  color: #195190;
  font-size: 0.9rem;
  background-color: #a2a2a1;
}

input::placeholder {
  color: #195190;
  font-size: 0.9rem;
}
